#SignUp {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-self: center;
}
#SignUp h2 {
  font-family: "Foldit", sans-serif;
  font-weight: 500;
  font-size: 4rem;
}
#SignUp .card {
  background-color: #0a0f14;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  border: 0;
}

#SignUp .form-control {
  color: #ffffffc7;
  background: transparent;
  border: 1px solid #2a2a2a;
}
#SignUp .form-check-input {
  border: 1px solid #2a2a2a;
  cursor: pointer;
  background-color: transparent;
}

#SignUp .form-check-input:checked {
  background: #0d6efd !important;
}

#SignUp button {
  background: #0a0f14;
  border-style: outset;
  color: rgba(255, 255, 255, 0.5);
  transition: 300ms linear;
}
#SignUp button:hover {
  color: rgba(255, 255, 255, 1);
}
#SignUp label {
  font-size: 0.8rem;
  color: white;
  font-weight: 100;
}


#SignUp .error{
  border-color : var(--bs-form-invalid-color)
}