#SignIn{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-self: center;
}
#SignIn h2{
    font-family: 'Foldit', sans-serif;
    font-weight: 500;
    font-size: 4rem;
}
#SignIn .card {
    background-color: #0a0f14;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    border : 0;
  }

  #SignIn .form-control{
    color : #ffffffc7;
    background: var(--main-input-bg-color);
    border: 1px solid #2a2a2a;
  }
  #SignIn .form-check-input{
    border: 1px solid var(--main-border-color);
    cursor: pointer;
    background-color: var(--main-input-bg-color);
  }

  #SignIn .form-check-input:checked{
    background: #0d6efd !important;
  }

  #SignIn button{
    background: #0a0f14;
    border-style: outset;
    color : rgba(255,255,255,.5);
    transition: 300ms linear;
  }
  #SignIn button:hover{
    color: rgba(255,255,255,1)
  }
  #SignIn label{
    font-size: .8rem;
    color: white;
    font-weight: 100;
  }