@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

.Write input[type="text"].form-control {
  color: var(--main-input-color) !important;
  background: transparent;
  border: 0;
  font-size: 4rem;
  font-family: "EB Garamond", serif;
}

.Write .form-control:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
}

.ql-editor.ql-blank::before {
  color: var(--bs-body-color) !important;
  font-style: normal !important;
  font-family: "EB Garamond", serif !important;
  font-size: 2rem;
  font-weight: 500;
}
.ql-container.ql-snow {
  border: 0 !important;
}
.Write .ql-toolbar.ql-snow {
  border-width: 0 0 1px 0;
  border-color: var(--main-border-color);
}
.Write .ql-editor {
  color: var(--main-input-color) !important;
}

.Write .form-check{
  text-align: start;
}
.Write label{
  color: var(--main-input-color);
  font-size: .7rem;
}
.Write .form-check-input{
  --bs-form-check-bg: var(--bs-body-color);
  border-color : var(--bs-body-color);
}

.Write .form-select{
  color: var(--main-input-color);
  background: transparent;
  border-color: var(--main-border-color);
}
.Write .form-select option{
  background: var(--bs-body-color);
}
.Write .form-select:focus {
  background: transparent;
  border-color: var(--main-border-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
}

.Write input[type="file"].form-control {
  color: var(--main-input-color) !important;
  background: transparent;
  border: 0;
}