.Home .r {
  border-left: 1px solid var(--main-border-color);
  padding-top: 50px;
}

.Home .l {
  padding-right: 7rem;
  padding-top: 50px;
}

.Home .r h2{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

.Home .r_topics{
  text-align: left;
}

.Home .r_topics a{
  background: rgb(167 167 167 / 20%);
  color: rgba(0, 0, 0, 1);
  padding: 0.5rem 0.8rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
  transition: 200ms linear;
}
.Home .r_topics a:hover{
  background-color: #dbdbdb;    
  box-shadow: 0px 0px 11px -4px rgba(255,255,255,.5);
}