@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Header nav {
  background: transparent !important;
  color: white;
}
.Header .main{border-bottom: 1px solid var(--main-border-color);}
.Header nav .navbar-brand {
  font-size: 2rem;
  font-family: "Foldit", sans-serif;
  font-weight: 500;
}

.Header input {
  background: var(--main-input-bg-color);
  border: 1px solid var(--main-border-color);
  color: var(--main-input-color) !important;
}
.Header input:focus {
  background: var(--main-input-bg-color);
}

.Header ul a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.Header .nav-link{
  color : rgba(255,255,255,.3);
}
.Header .nav-link.active, .Header .nav-link:hover{
  color : white;
}

.Header .profileHead {
  background-image: linear-gradient(to right, rgb(0 99 64), rgb(0 69 50));
  color: white;
  font-weight: bold;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header .search span{
  border-right: 0;
  background-color: transparent;
  border-width : 1px 0 1px 1px;
  border-color: var(--main-border-color);
  border-radius: 20px 0 0 20px;

}
.Header .search input{
  font-size: .8rem;
  border-left: 0;
  border-radius: 0 20px 20px 0;
}
.Header .search .form-control:focus {
  border-color: var(--main-border-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
}