@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.PostCard {
  border-bottom: 1px solid var(--main-border-color);
}

.PostCard h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.PostCard .head {
  width: 1.2rem;
  height: 1.2rem;
  background: red;
  border-radius: 100px;
}
.PostCard .h p {
  font-size: 14px;
}
.PostCard .h p span {
  color: #6b6b6b;
  font-weight: 500;
}
.PostCard p {
  font-size: 14px;
  margin-bottom: 0;
}
.PostCard .short_des {
  font-family: "Lora", serif;
  line-height: 24px;
  opacity: 0.5;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
.PostCard pre {
  overflow: hidden;
  background: black;
  border-radius: 10px;
  padding: 1rem;
}
.PostCard {
  text-align: left;
}

.PostCard .f .actions {
  opacity: 0.5;
}

.PostCard .f .info {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 600;
}
.PostCard .f .topic {
  background: rgb(167 167 167 / 20%);
  color: rgba(0, 0, 0, 1);
  padding: 0.2rem 0.6rem;
  border-radius: 24px;
  text-decoration: none;
  transition: 200ms linear;
}
.PostCard .f .topic:hover {
  background-color: #dbdbdb;
  box-shadow: 0px 0px 11px -4px rgba(255, 255, 255, 0.5);
}
.f .tm {
  opacity: 0.5;
}
